@import "tailwindcss";

@theme {
	--font-bangla: "Anek Bangla", sans-serif;
	--sectionGap: clamp(1rem, 5%, 6rem);
}

h1 {
	@apply text-[clamp(1.5rem,calc(3vw+1rem),5.7rem)] leading-[clamp(2rem,calc(3vw+1.5rem),6.2rem)];
}
h2 {
	@apply text-[clamp(1.2rem,calc(2.5vw+.5rem),4.5rem)] leading-[clamp(1.7rem,calc(2.5vw+1rem),5rem)];
}
h3 {
	@apply text-[clamp(1.2rem,calc(2vw+0.5rem),3.5rem)] leading-[clamp(1.5rem,calc(2vw+0.5rem),4rem)];
}
h4 {
	@apply text-[clamp(1rem,calc(1.5vw+0.5rem),2.75rem)] leading-[clamp(1.25rem,calc(1.75vw+0.5rem),3rem)];
}
h5 {
	@apply text-[clamp(1rem,calc(1vw+0.5rem),2rem)];
}
h6,
header nav li a,
#filter-btns button {
	@apply text-[clamp(.9rem,calc(1vw+0.20rem),1.5rem)];
}

/* Lenis */
html.lenis,
html.lenis body {
	height: auto;
}
.lenis:not(.lenis-autoToggle).lenis-stopped {
	overflow: clip;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-smooth iframe {
	pointer-events: none;
}
.lenis.lenis-autoToggle {
	transition-property: overflow;
	transition-duration: 1ms;
	transition-behavior: allow-discrete;
}

.lineParent {
	@apply overflow-hidden max-w-max mx-auto;
}

/* Main Menu */
header nav .menu-item {
	@apply relative lg:flex lg:items-center;
}
header nav .menu-item a {
	@apply font-medium flex items-center gap-0.5 px-(--sectionGap) py-2.5 border-b-1 border-b-[#ffffff2a] lg:px-2.5 lg:py-1.5 lg:border-0;
}
header nav .menu-item:last-child a {
	@apply border-0;
}
header nav .menu-item:nth-last-child(2) {
	@apply ms-auto;
}
header nav ul > .menu-item:last-child a {
	@apply lg:border-1 lg:border-white lg:rounded-full;
}
header nav .menu-item a svg {
	@apply size-5 lg:hidden;
}
header nav .menu-item.current-menu-item a {
	@apply text-zinc-900 bg-white lg:text-zinc-900 lg:bg-white lg:rounded-full;
}
header nav .menu-item.current-menu-item a svg {
	@apply inline-block;
}
header nav ul > .menu-item.current-menu-item a {
	@apply lg:text-white lg:bg-transparent;
}
header nav ul > .menu-item:nth-last-child(2) a svg,
header nav ul > .menu-item:last-child a svg {
	@apply lg:hidden;
}

/* Footer */
footer ul .menu-item a {
	@apply flex gap-1.5 ms-(--sectionGap) mb-2 py-1 border-b-1 border-b-[#0000008d];
}
footer ul .menu-item a svg {
	@apply size-5;
}

/* Properties */
#properties #filter-btns button svg {
	@apply size-6;
}
#properties .property #property-details svg {
	@apply size-4;
}

/* Fonts */
@font-face {
	font-family: "Anek Bangla";
	font-style: normal;
	font-weight: 100 800;
	font-stretch: 100%;
	font-display: swap;
	src: url(../assets/fonts/anek-bangla-bengali.woff2) format("woff2");
}
@font-face {
	font-family: "Anek Bangla";
	font-style: normal;
	font-weight: 100 800;
	font-stretch: 100%;
	font-display: swap;
	src: url(../assets/fonts/anek-bangla-latin-ext.woff2) format("woff2");
}
@font-face {
	font-family: "Anek Bangla";
	font-style: normal;
	font-weight: 100 800;
	font-stretch: 100%;
	font-display: swap;
	src: url(../assets/fonts/anek-bangla-latin.woff2) format("woff2");
}
